@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import "var";
body{
    font-family: $san ;
}
ul{
    list-style: none;
    padding: 0px;
}
a{
    text-decoration: none;
    color: $black;
}
.container{
    padding: 0px;
}
.header{
    background-color: $brand;
    .logo{
        img{
            width: 90%;
        }
    }
}
.menu{
    ul{
        display: flex;
        gap: 20px;
        align-items: center;
        height: 100%;
        padding-top: 18px;
        a{
            color: $w;
            font-weight: 600;
            font-size: 18px;
        }
    }
}
.icons{
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        color: $w;
    
}
.banner{
    .row{
        height: 80vh;
        .top-con{
            height: 50%;
            // padding: 0;
            overflow: hidden;
        }
        .top{
            height: 100%;
            // background-image: url(../images/banner/bg2.jpg);
            background-size: cover;
            background-position: center;
            .top-inner{
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                padding: 100px 50px;
                h1,h4{
                    color: $w;
                }
                h1{
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 36px;
                }
                h4{
                    font-size: 32px;
                    font-weight: 600;
                }
                form{
                    width: 100%;
                    position: relative;
                    input{
                        position: absolute;
                        width: 100%;
                        height: 54px;
                        border-radius: 32px;
                        padding-left: 26px;
                        border: none;
                        &::placeholder{
                            font-size: 20px;
                            font-weight: 600;
                            color: rgba(171, 171, 171, 0.902);
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                    .search-btn{
                        background-image: linear-gradient(#19CFB3,#04B7DE);
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 54px;
                        border-radius: 32px;
                        width: 120px;
                        font-size: 20px;
                        font-weight: 600;
                        color: $w;
                    }
                }
            }
        }
        .down-con{
            height: 50%;
            // padding: 0;
            overflow: hidden;
            .down{
                height: 100%;
                background-image: url(../images/bg1.jpg);
                background-size: cover;
                background-position: center;
               .down-inner{
                height: 100%;
                background-color: rgba(45,28,111,0.5);
                padding: 50px;
                h1{
                    color: $w;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 60px;
                    width: 30%;
                }
                p{
                    color: $w;
                    font-size: 20px;
                }
                .check-btn{
                    color: $w;
                    font-size: 20px;
                    border: 2px solid $w;
                    border-radius: 32px;
                    height: 44px;
                    i{
                        padding-left: 6px;
                        font-size: 28px;
                    }
                }
               } 
            }
        }
    }
}

.block1{
    height: 504px;
    margin-bottom: 14px;
    .container{
        height: 400px;
        position: relative;
    }
    .bg{
        position: absolute;
        z-index: 0;
        bottom: 0px;
        width: 1320px;
        height: 200px;
        background-image: url("https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg") ;
        background-repeat: no-repeat ;
        @media (max-width:570px) {
            width: 570px;
        }
    }
    .content{
        position: absolute;
        top: 10%;
        h3{
            font-weight: 600;
            margin-left: 60px;
            margin-bottom: 20px;
        }
    }
    .slider{
        width: 1320px;
        display: flex;
        gap: 24px;
        overflow-x: scroll;
        padding-left: 60px;
        
        &::-webkit-scrollbar {
            height: 8px;
        }
        &::-webkit-scrollbar-track {
            background: #ffffff; 
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(227, 227, 227, 0.845); 
            border-radius: 32px;
            -webkit-box-shadow: inset 0 0 6px rgba(147, 147, 147, 0.201);

        }
        &::after{
            content: "";
            width: 60px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
            will-change: opacity;
            pointer-events: none;
        }
        @media (max-width:570px) {
            width: 570px;
        }
    }
}
.post{
    min-width: 170px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    img{
        border-radius: 12px;
    }
    .post-title{
        padding-top: 20px;
        padding-left: 10px;
        h6{
            font-size: 18px;
            font-weight: 700;
        }
        p{
            line-height: 18px;
            font-size: 18px;
        }
    }
}
.prog{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 58%;
    p{
        position: absolute;
        color: #fff;
        top: 30%;
        left: 30%;
    }
    svg{
        top: 0;
        left: 0;
        circle{
            fill: $brand;
            stroke: #19CFB3;
            stroke-width: 4px;
            stroke-dasharray : 157;
        }
    }
}


.block2{
    h3{
        font-weight: 600;
        margin-left: 60px;
        margin-bottom: 20px;
        padding-top: 16px;
    }
    .container{
        position: relative;
        &::after{
            content: "";
            background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
            position: absolute;
            top: 5%;
            right: 0;
            height: 100%;
            width: 60px;
        }
    }
    .slider{
        width: 1320px;
        display: flex;
        gap: 24px;
        overflow-x: scroll;
        padding-left: 60px;
        padding-bottom: 20px;
        &::-webkit-scrollbar {
            height: 8px;
        }
        &::-webkit-scrollbar-track {
            background: #ffffff; 
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(227, 227, 227, 0.845); 
            border-radius: 32px;
            -webkit-box-shadow: inset 0 0 6px rgba(147, 147, 147, 0.201);
        }
    }
}
.pop-con{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 48px;
    margin-bottom: 14px;
}
.btn-con{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    height: 80%;
    font-weight: 700;
    font-size: 20px;
    border-radius: 32px;
    .tv-option{
        height: 100%;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .theater-option{
        height: 100%;
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .active{
        background-color: $brand;
        color: #19CFB3; 
        border-radius: 32px; 
       transition: 0.9s;
    }
}
.blocka{
    // height: 300px;
    .container{
        background-color: #02414fac;
    }
    .con{
        padding: 0px 60px;
    }

    h3{
        font-weight: 600;
        // margin-left: 60px;
        margin-bottom: 20px;
        padding-top: 16px;
    }
    .trailer-Tv{
        height: 100%;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .trailer-Movie{
        height: 100%;
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .active{
        background-image: linear-gradient(to right ,#0cc4a9,#047993);
        color: $w;
    }
    .pop-con{
        color: $w;
    }
    .btn-con{
        border:1px solid #0cc4a9;
    }
    .content{
        display: flex;
        gap: 26px;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            height: 8px;
        }
        &::-webkit-scrollbar-track {
            background: #ffffff; 
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(227, 227, 227, 0.845); 
            border-radius: 32px;
            -webkit-box-shadow: inset 0 0 6px rgba(147, 147, 147, 0.201);
        }
    }
    .movie{
        min-width: 315px;
        text-align: center;
        color: $w;
        .movie-text{
            padding: 20px 20px 0px 20px;
        }
        p{
            font-size: 18px;
        }
        h4{
            line-height: 16px;
            font-weight: 700;
            font-size: 24px;
        }
        .movie-poster{
            cursor: pointer;
            border-radius: 12px;
            position: relative;
            overflow: hidden;
            &:hover{
            img{
                transform: scale(1.1);
            }
            .play-con{
                visibility: visible;
            }
            }
            img{
                transition: 0.6s;
            }
        }
        .play-con{
            background-color: rgba(128, 128, 128, 0.352);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            i{
                background-color: rgba(171, 171, 171, 0.489);
                height: 60px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-size: 40px;
                color: rgb(221, 221, 221);
            }
        }
    }
}

.play-btn{
    color: $w;
    cursor: pointer;
}
.btn-close{
    --bs-btn-close-bg: none;
}
.modal{
    --bs-modal-width: 80%;
    top: 75px;
}
.modal-content{
    border: none;
    background-color: rgba(21, 21, 21, 0.559);
    border-radius: 0px;
}
.modal-body{
    padding: 0;
    h2{
        color: $w;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.video{
    width: 100%;
}
.modal-title{
    color: $w;
}
.bi-x-square{
    color: white;
    font-size: 28px;
}